/* full page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
*{
    padding:0px;
    margin:0px;
}
html, body {
    height: 100%;
}
div{
    margin-bottom: 20px;
}

/* parent container */
.mega-container{
    height: 100%;
    width: 100%;
    display: flex;
}

/* left side */
.portrait{ 

    width: 23.5%;
    height: 100%;
    background-color: black;
    background-image: url('side.jpg');
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
}


/* middle side */
.functionality{
    width: 55%;
    height: 100%;
    padding: 20px;
    background-color: #eff1f9;
}



/* search */
.search-container {
    position: relative;
    display: flex;
}
#search-input {
    width: 58%;
    padding: 8px;
    margin-right: 8px;
    box-sizing: border-box;
    border-radius: 20px;
    height: 40px;
}

#search-button {
    position: absolute;
    right: 0;
    left: 355px;
    top: 4px;
    width: 100px;
    padding: 8px;
    border: none;
    background-color: #fe844e;
    color: #fff; 
    border-radius: 20px;
    cursor: pointer;
}

#search-button:hover{
    transform: scale(1.05);
}
/* sorting */
.sort-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
    bottom: 10px;
}

.dropbtn {
    width: 100px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fe844e;
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#sort-low-to-high, #sort-high-to-low {
    cursor: pointer;
}

/* pagination */
button {
    padding: 10px;
    width: 50px;
    cursor: pointer;
    background-color: #2c246d;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
}

button:hover {
    background-color: #8179f0;
}


/* card */
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    position: relative;
    padding: 20px;
    width: 400px;
    height: 580px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}




.card:hover {
    transform: scale(1.02);
}
.card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
    border-radius: 20px;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #270954;
}

.card-description {
    margin-top: 8px;
    color: #555;
}

.card-destination,
.card-duration,
.card-price {
    margin-top: 8px;
    font-size: 0.9em;
    color: #777;
}

.duration-price{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* right side */
.profile{
    width: 20%;
    height: 100%;
    padding: 20px;
    background-color: #f8f2f3;
    background-image: url('pattern.png');
    background-size: cover;
    background-position: center;
}

/* profile card */
.profile-card{
    position: relative;
    height: 290px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    margin-top: 30px;
}
.profile-image img {
    margin-top: 20px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 100px;
}

.profile-body{
    position: absolute;
    top: 140px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.profile-card:hover {
    transform: scale(1.05);
}


/* delete button */


.edit-buttons-container{
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    }

.delete-button{
    width: 80px;
    background-color: rgb(88, 35, 78);
}

.edit-button{
    width: 80px;
    background-color: rgb(88, 35, 78);
}

.delete-button:hover, .edit-button:hover{
background-color: red;
}

/* edit field*/

.edit-field{
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1%;
    background-color: white;
    margin-top: 50px;
}

.edit-field:hover {
    transform: scale(1.05);
}

.edit-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
  }

  .save-button {
    width: 50%;
    background-color: rgb(88, 35, 78);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 70px;
  }

  .save-button:hover {
    background-color: red;
  }

