*{
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body {
  position: relative;
}
.material-symbols-outlined {
  color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
h2,p{
  color:black;
}
#menu-icon {
  display: none; 
  font-family: 'Material Icons Outlined';
  font-size: 24px;
  cursor: pointer;
}
.nav-btn a{
  text-decoration: none;
  color:#fff;
}
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation {
  position: absolute;
  top: 10px;
  left: 80%;
  z-index: 3;
  display: flex;
  align-items: center;
}
.nav-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.mobileBtnSpan{
  display: none;
  text-align: center;

}
.nav-btn:hover {
  background-color: #45a049; /* Change background color on hover */
  transform: scale(1.05); /* Scale up on hover */
}
.logo {
  position: absolute;
  top: 15%;
  left: 8%;
  transform: translate(-50%, -50%);
  max-width: 14%; 
  z-index: 1; 

}
.logo2{
  margin: auto;
  max-width: 100px; 
  /* position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* z-index: 1;  */
}
.content {
  position: absolute;
  top: 53%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center;
  z-index: 2;
  padding: 30px;
  height:auto;
  /* width:fit-content; */
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h2 {
  font-size: 1.5rem;margin-top: -20px; 
}

form {
  margin-top: 0px; 
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}
/* .submitBtn{
  background-color: #4b4491;
  color: white;
} */
.submitBtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-box {
  display: none;
  background-color: #ffcccc;
  color: #ff0000;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 4px;
  margin-top: 10px;
}


@media (max-width: 768px) {
  .nav-btn{
    display: none;
  }
  .navigation {
    top: 20px;
    left: 90%;
  }
  h2,p{
    color:white;
  }
  #menu-icon {
    display: block;
  }
  #menu-icon:hover + .mobileBtnSpan{
    display: block;
  }
.mobileBtnSpan{
  /* display: block; */
  position: absolute;
  top:30px;
  left:-80px;
}
.mobileBtnSpan button{
  width:100px;
}
  .content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    z-index: 2; 
    padding: 20px;
    height: auto;
    background-color: #4b4491;
  }
  .logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%; 
    z-index: 1;
  }
  .logo2{
    display: none;
  }
  h2{
    font-size: 1.2rem;
    margin-top: 30px;
  }
}
